.transaction {
    vertical-align: middle;
    font-weight: 500;
}

.transaction .deleteBtn {
    color: rgb(255, 153, 0);
    font-size: 18px;
    opacity: 0;
    transition: opacity .15s ease-in;
    cursor: pointer;
}

.transaction:hover .deleteBtn {
    opacity: 1;
}

.expense {
    color: red;
}

.income {
    color: green;
}

.repo-icon {
    font-size: 32px;
}